header.header
  .container
    nav.nav
      button(type="button").burger
        span
        span
        span
      ul.menu
        li.menu__item
          a(href="#bio").menu__link Личная информация 
        li.menu__item
          a(href="#exp").menu__link Опыт
        li.menu__item
          a(href="#js").menu__link JavaScript 
        li.menu__item
          a(href="#about").menu__link О себе
      ul.mobile-menu
        li.menu__item
          a(href="#bio").menu__link Личная информация 
        li.menu__item
          a(href="#exp").menu__link Опыт
        li.menu__item
          a(href="#js").menu__link JavaScript 
        li.menu__item
          a(href="#about").menu__link О себе
      .overlay