script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
script(src="/libs/ion/ion.rangeSlider.min.js")
script(src="/libs/formstyler/jquery.formstyler.min.js")
script(src="js/main.min.js")